.cursor-pointer {
  cursor: pointer;
}

.otp-input {
  box-shadow: 0px 0px 4px 0px #d6d6d6 !important;
  font-weight: bold;
  color: white !important;
}

.otp-input:focus {
  box-shadow: 0px 0px 4px 0px #d6d6d6 !important;
  font-weight: bold;
  color: white !important;
}

.otp-input:hover {
  box-shadow: 0px 0px 4px 0px #d6d6d6 !important;
  font-weight: bold;
  color: white !important;
}