.footer-text {
    color: #FFFFFF73 !important;
}

footer p {
    color: #FFFFFF73 !important;
}

.socials-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.postclips-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}